
@{
    ViewBag.Title = "cv";
}

<title>My Resume</title>

<h2>Personal Information</h2>

<p> Name   : Ahnaf Shikder Arnob </p>
<p> ID     : 18-38061-2</p>
<p> Department: CSSE </p>
<p> DOB    : 01/01/1998 </p>
<p> Gender  : Male </p>
<p> Email  : ahnafarnob31@@gmail.com</p>


<h2>Academic Qualification</h2>
<table class="table table-bordered">
    <tr>
        <th>Institution</th>
        <th>Degree</th>
        <th>Passing year</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>AIUB</td>
        <td>Bsc CSSE</td>
        <td>2018-2022</td>
        <td>CGPA 3.45</td>
    </tr>
    <tr>
        <td>Trust College</td>
        <td>HSC</td>
        <td>2017</td>
        <td>GPA 5.00</td>
    </tr>
    <tr>
        <td>Kishoreganj Govt. Boys High School</td>
        <td>SSC</td>
        <td>2015</td>
        <td>GPA 5.00</td>
    </tr>


</table>


    <h2>Developed Projects Areas</h2>
    <u1>
        <li>C#</li>
        <li>My SQL</li>
        <li>JAVA</li>
        <li>Data Base</li>
        <li>WEB TECHNOLOGIES </li>
        <li>C++</li>


<h2>Reference</h2>
<p> Name   : TANVIR AHMED
<p> Phone  : xxxxxxxxxxx </p>
<p> Email  : tanvir.ahmed@aiub.edu</p>
<p> Institution: AIUB,Dhaka, Bangladesh </p>
